.rentalList {
    background-color: $background-color-list;
    border-radius: 25px;
    margin: 40px 100px 40px 100px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;

    @media(max-width: 740px){
        margin: 24px 20px 20px 20px;
        background-color: inherit;
        padding: 0;
        gap: 20px;
    }
}