@import '../../settings.scss';

.collapse {
    background-color: $background-color-list;
    border-radius: 5px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &__banner {
        background-color: $main-color;
        color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding : 10px 20px 10px 10px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
    }
    &__button {
        all: unset;
    }
    &__button-mobile {
        all: unset;
        display: none;
    }
    &__content {
        &.open {
            display: block;
        }
        &.closed {
            display: none;
        }
    }
    &__text {
        padding : 20px;
        font-size: 18px;
        line-height: 1.4;
        &--list {
            list-style-type: none;
        }
    }

    @media(max-width: 1080px){
        &__title {
            font-size: 18px;
        }    
    }
    @media(max-width: 740px){
        &__title {
            font-size: 13px;
        }
        &__text {
            font-size: 12px;
        }
        &__button {
            display: none;
        }
        &__button-mobile {
            display: block;
        }
    }
}
