.collapsesList {
    max-width: 1020px;
    margin: 30px 210px 30px 210px;


    @media(max-width: 990px){
        margin: 30px 100px 30px 100px;
    }

    @media(max-width: 740px){
        margin: 30px 20px 30px 20px;
    }
}