@import './settings.scss';
@import './components/Banner/Banner.scss';
@import './components/Carrousel/Carrousel.scss';
@import './components/CollapsesList/CollapsesList.scss';
@import './components/Error/Error.scss';
@import './components/Footer/Footer.scss';
@import './components/Header/Header.scss';
@import './components/Informations/Informations.scss';
@import './components/RentalCard/RentalCard.scss';
@import './components/RentalList/RentalList.scss';
@import './components/Collapse/collapse.scss';


*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    font-family: $font-family;
    margin: auto;
    box-sizing: border-box;
}